@page
@model BucurPaulaNuria_Proiect.Pages.Persons.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Age" class="control-label"></label>
                <input asp-for="Person.Age" class="form-control" />
                <span asp-validation-for="Person.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.HairColor" class="control-label"></label>
                <input asp-for="Person.HairColor" class="form-control" />
                <span asp-validation-for="Person.HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Height" class="control-label"></label>
                <input asp-for="Person.Height" class="form-control" />
                <span asp-validation-for="Person.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.JobID" class="control-label">Job</label>
                <select asp-for="Person.JobID" class="form-control" asp-items="ViewBag.JobID"></select>
                <span asp-validation-for="Person.JobID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
